<!DOCTYPE html>
<html lang="zh-Hant" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>主頁</title>
    <link rel="stylesheet" th:href="@{/webjars/hirohe__jquery-easyui/1.8.2-fix2/themes/bootstrap/easyui.css}">
    <link rel="stylesheet" th:href="@{/webjars/hirohe__jquery-easyui/1.8.2-fix2/themes/icon.css}">
    <script th:src="@{/webjars/hirohe__jquery-easyui/1.8.2-fix2/jquery.min.js}"></script>
    <script th:src="@{/webjars/hirohe__jquery-easyui/1.8.2-fix2/jquery.easyui.min.js}"></script>
</head>
<body>
index
</body>
</html>